@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #B09398;
    --cor1: #892542;
    --cor2: #571727;
    --cor3: #76cec4;
    --cor4: #006156;
    --cor5: #123931;

    --fonte1: "Young Serif", serif;
    --fonte2: Arial, Helvetica, sans-serif;
    --fonte3: "Roboto", sans-serif;
}

* {
    margin: 0px;
}

html, body {
    font-family: var(--fonte3);
}

header {
    background-color: var(--cor2);
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 45px 8px rgba(0, 0, 0, 0.308);
}

header h1 {
    font-family: var(--fonte1);
    margin-bottom: 10px;
}

header p {
    font-size: 0.8em;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte1);
    font-size: 0.8em;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 10px;
}

nav a:hover {
    background-color: var(--cor1);
    border-radius: 8px 8px 0px 0px;
}

body {
    background-color: var(--cor5);
    font-size: 1.2em;
}

main > article {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.486);
}

main h2 {
    color: var(--cor1);
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
    margin-bottom: -10px;
    margin-top: 10px
}

main p {
    margin-bottom: 30px;
    margin-top: 30px
}

#jk {
    display: inline-block;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background-image: url("../midias/jk.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.514);

}

article {
    max-width: 800px;
    margin: auto;
}

article img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}
div.video {
    background-color: var(--cor4);
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: var(--cor2);
    color: white
}
footer a {
    color: var(--cor0);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}